@charset "gb2312";
/* CSS Document */
body,ul,div,img,h5,h4,h3,h2,h1,p,span,table,figure,i,li{ margin:0; padding:0}
a:link, a:visited {text-decoration: none; } 
img{ border:0}
body{font-size:12px;background:#EEE9D6 url(../images/90304_top.jpg)  50% top scroll no-repeat;color:#5d5d5d; }
.blank{ height:5px; overflow:hidden; width:100%; margin:auto; clear:both}
figure{ width:100%; background:#333; clear:both; height:28px; position:fixed; z-index:9999}
figure p{width:1030px;margin:0 auto; color:#FFF; line-height:28px;}
figure a.emails {
float: right;
width: 30px;
height: 28px;
background: url(../images/nav_sprite.png) 0px -21px no-repeat;
}
.rssdy {
float: right;
width: 30px;
height: 28px;
background: url(../images/nav_sprite.png) 0px -68px no-repeat;
}
.article{width:1030px;margin:0 auto;  overflow:auto;}
header{ padding:50px 0 0 0; width:1100px; height:77px; margin:auto; }
header img{ float:left; margin:0 20px 0 30px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;;-ms-transition:all 1s}
header img:hover{-moz-transform: scale(1.2);-webkit-transform: scale(1.2) ;-o-transform: scale(1.2);;-ms-transform: scale(1.2);}
header h1{ font-size:16px; font-weight:normal;text-shadow:#fff 1px 1px 1px;}
header h1 a{color:#000}
header h1 a:hover{ text-decoration:underline}
header p{margin:17px 0 0 0;text-shadow:#000 1px 1px 1px;color:#fff}
#nav{ width:100%;line-height:40px; height:40px;margin:auto; background:rgba(245,245,245,0.2) }/* nav圆角背景 */
#nav ul{ list-style:none; margin:auto; width:1030px}
#nav ul li{ float:left; width:100px; text-align:center;text-shadow:#333 1px 1px 1px}
#nav ul li a{ display:block; color:#FFF; cursor:pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}/* 背景颜色过渡效果 */
#nav ul li a:hover{ background:#e15782; color: #FFF; font-weight:bold; border-radius:50px 0}
#nav ul li a#nav_current {background: #e15782;color: #FFF; font-weight:bold; border-radius:50px 0}
.content{ width:745px; float:left; background:#F1F0EE;}/* left form */
aside{ width:276px; float:right; overflow:hidden;}/* Side Right */
.ad{margin:10px;}
/* footer */
#fatfooter { width:100%; margin:0 auto;  background:#242221; border-top:40px #f16e50 solid;}
.fat{ width:1030px; margin:auto; padding:20px 0; overflow:auto;}
.partner{ width:120px;border-right:#000 1px solid; float:left; height:200px}
.partner ul{ border-right:#696666 1px solid; text-align:right; padding:0 40px 0 0;height:200px}
.partner h2,.links h2,section h2{ color:#FFF; font-size:14px; line-height:30px; height:30px}
.partner p,section p{ line-height:22px; height:22px}
.partner p a,section p{ color:#999}
.links{ width:600px; float:left; margin-left:40px}
.links ul{ list-style-type:none;}
.links ul li{ width:100px; height:30px; text-align:center;float:left;display:block; line-height:30px;margin:5px; }
.links ul li a{ display:block; background:#393939; color:#ACABAB; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s;}
.links ul li a:hover{ background:#e15782; color:#FFF;border-radius:20px 0 }
.links ul li.more a{ background:none}
.links ul li.exchange a{background:none; color:#f16e50}
#copright{ background:#141414;line-height:50px; height:50px; text-align:center; width:100%;color:#f16e50}
#copright a{color:#f16e50}
#copright a:hover,.partner p a:hover{color: #FFF}
