@charset "gb2312";
/* CSS Document */

body,ul,div,img,h5,h4,h3,h2,h1,p,span,table{ margin:0; padding:0}
a:link, a:visited {text-decoration: none; } 
img{ border:0}
body{font-size:12px;background:#EEE9D6 url(../images/90304_top.jpg)  50% top scroll no-repeat;color:#5d5d5d;}
.blank{ height:5px; overflow:hidden; width:100%; margin:auto; clear:both}
.topnav{ width:100%; background:rgba(245,245,245,0.5); clear:both; height:28px}
.topnav ul{width:1030px;margin:0 auto;  }
.topnav a{ color:#666; margin-right:10px}
.article{width:1030px;margin:0 auto;  overflow:auto; opacity:0.9}
header{ padding:20px 0 0 0; width:1030px; height:77px; margin:auto; }
header img{ float:left; margin:0 20px 0 10px}
header h1{ font-size:16px; font-weight:normal;text-shadow:#fff 1px 1px 1px; color:#000}
header p{ margin:17px 0 0 0;text-shadow:#000 1px 1px 1px; color:#fff}
audio{ float:right}
#nav{ width:100%;line-height:40px; height:40px;margin:auto;}/* nav圆角背景 */
#nav ul{ list-style:none; margin:auto; width:1030px}
#nav ul li{ float:left; width:100px; text-align:center;text-shadow:#000 1px 1px 1px;}
#nav ul li a{ display:block; color:#FFF; cursor:pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}/* 背景颜色过渡效果 */
#nav ul li a:hover{ background:#e15782; color: #FFF; font-weight:bold; border-radius:50px 0}
#nav ul li a#nav_current {background: #e15782;color: #FFF; font-weight:bold; border-radius:50px 0}
/* Side Right */
aside{ width:276px; float:right; overflow:hidden;}
aside.navsidebar nav{ height:150px;}
aside nav ul{ list-style-type:none; text-align:center;}
aside nav ul li{ float:left; width:90px; line-height:74px; height:74px; margin-right:2px}


aside nav ul li.ab{ background:#71a532}
aside nav ul li.ab a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background:#666;-webkit-transition:all 1s;}
aside nav ul li.sy{ background:#ff9900}
aside nav ul li.sy a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background: #F60;-webkit-transition:all 1s;}
aside nav ul li.js{ background:#8c49ad}
aside nav ul li.js a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background: #66C;-webkit-transition:all 1s;}
aside nav ul li.msh{ background:#e7769e}
aside nav ul li.msh a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background: #F66;-webkit-transition:all 1s;}
aside nav ul li.xc{ background:#a98659}
aside nav ul li.xc a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background: #C93;-webkit-transition:all 1s;}
aside nav ul li.ly{ background:#63a8e8}
aside nav ul li.ly a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg); -o-transform:rotate(360deg); background: #06C;-webkit-transition:all 1s;}



aside nav ul li a{ display:block; color:#FFF;}
aside nav ul li a:hover{font-weight:bold; color:#FF0}
.geyan{ background:#f16e50; height:140px; width:100%; margin:10px 0 ;position: relative; overflow:hidden; color:#FFF; }
.geyan p{margin:40px 20px  0 20px; line-height:30px}
.slider {
 position: absolute;
 left:0;
 top: 0;
}
.fl {float:left}
.slider li {overflow:hidden;padding:40px 20px; line-height:25px}
.slider li a{color: #FFF; }
.slider li a:hover{ color: #FF0}
.about img{ float:left; clear:right; margin-right:5px}
.about p{ line-height:25px}
.newbolg{ margin:10px 0 0 0;}
.newbolg h2{color: #FFF;background:#f16e50; line-height:36px; font-size:12px; font-weight:normal; padding:0 0 0 15px; position:relative; height:36px}
.more{
	position: absolute;
	left: 242px;
	top: 8px;
	height: 23px;
	width: 23px;
}
.newbolg ul { list-style-type:none}
.newbolg ul li{ line-height:30px; background:url(../images/list.gif) no-repeat  10px 13px; height:30px;}
.newbolg ul li a{ width:80%; display:block; color:#525252; padding-left:30px;cursor:pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;background:url(../images/list.gif) no-repeat  10px 13px; }
.newbolg ul li a:hover{width:100%; background:url(../images/list.gif) no-repeat  10px 13px #666; color:#FFF; font-weight:bold;}
.content{ width:754px; float:left; background:url(../images/contentbg.png) repeat-y right;}
.content h1{ background: url(../images/newblog.png)  no-repeat #ececec; border-bottom:#FFF 1px solid; height:38px; width:98.6%;  overflow:hidden}
.bloglist{ width:98.6%; background:#f1f1f1; }
.bloglist h2{ background:url(../images/blogh2.png)  0 10px no-repeat; line-height:29px; height:29px; font-size:14px; color:#3b3b3b; padding:10px 0 10px 40px;}
.bloglist h2 a{color:#3b3b3b; display:block; width:50%}
.bloglist h2 a:hover{ width:90%; background: #ccc;cursor:pointer; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;text-shadow:#fff 1px 1px 1px;padding-left:50px}

.no{ background:url(../images/appstore_video_v4.png) no-repeat 10px 10px;}



.bloglist ul{ line-height:24px; padding:0 10px}
.readmore{ margin:20px 10px}
.readmore a{ color:#e84545;}
.readmore a:hover{ color:#333}
.dateview{ background:#f6f6f6 url(../images/timebg.png) no-repeat 10px 3px; line-height:24px; height:24px; color:#838383; padding-left:30px; margin:0 10px}
.dateview a{color:#838383; padding:0 20px}
.dateview a:hover{ color:#333}
#fatfooter { width:1030px; margin:0 auto;  background:#242221; border-top:10px #f16e50 solid; border-radius: 20px 20px 0px 0px }
#fatfooter h1{ font:Arial, Helvetica, sans-serif; font-size:14px; color:#f16e50; font-weight:normal; padding:10px 0 0 30px}
#fatfooter ul { padding:10px; overflow:auto; zoom:1;}
#fatfooter ul li { width:88px; float:left; margin:0px 0 0 10px; display:inline; text-align:center;}
#fatfooter ul li a{ display:block; color:#666}
#fatfooter ul li a:hover{ display:block; color: #fff; text-decoration:underline}
#copright{ background:#242221;line-height:50px; height:50px; text-align:center; width:100%;border-top:#32302e 1px solid; color:#f16e50}
#copright a{color:#f16e50}
#copright a:hover{color: #FFF}
/* about.html */
.aboutcon{ width:754px; float:left; line-height:24px; background:url(../images/contentbg.png) repeat-y right; height:750px}
.aboutcon ul{ padding:0 20px 0 0; text-indent:2em;}
.aboutcon h1{ margin:20px 0; font-size:28px}
.about_p{ margin:10px 0 0 45px}
.about_c{ line-height:24px; padding:0 20px}
/* newlist.html */
.newlist{ width:754px; float:left;background:url(../images/contentbg.png) repeat-y right #f5f5f5; height:750px}
.newlist ul{ list-style-type:none}
.newlist ul li { background: url(../images/list.gif) no-repeat 0px 10px; padding-left:25px;line-height:25px; padding-right:30px; height:25px; }
.newlist ul li span { float:right; color:#999}
.newlist ul li a,.page a{ color:#666}
.newlist ul li a:hover,.page a:hover{ color: #000}
.page{ padding:40px 0 0 0; text-align:center; width:100%}
/* moodlist.html */
.moodlist{ width:754px; float:left;background:url(../images/contentbg.png) repeat-y right #f5f5f5; height:805px}
.moodlist ul{ width:98%;list-style-type:none}
.moodlist ul li{line-height:24px; padding:20px 20px 0 0px;  }
.moodlist ul li img{ margin-right:10px}
.moodlist ul li span { padding-left:40px; color:#999}
.moodlist ul li a{ color:#666}
.moodlist ul li a:hover{ text-decoration: underline; color:#333}
.moodlist ul li span a{ padding: 0 0 0 30px; color:#C60;}
.moodlist ul li span a:hover{ text-decoration:underline}
/* book.html */
#gbooklist{width:740px; float:left;background:url(../images/contentbg.png) repeat-y right #f5f5f5; padding-right:14px}
.gb_tit{ background: #ececec; color:#3b3b3b; height:30px; line-height:30px; padding-left:10px; position:relative}
.tim{
	position: absolute;
	left: 660px;
	top: 1px; color:#333
}
.gb_con{line-height:30px;}
.gb_tit span{ font-weight:bold; padding-left:20px}
.gb_reply{ border:#CCC 1px dashed;line-height:30px; padding-left:10px; margin-bottom:10px; background:#FFF}
.gb_reply span{ color:#e15782;font-weight:bold}
#faqbox {width:380px;margin:0 auto; padding-top:30px;}
#faqbox .faqline{ line-height:2em; height:35px; text-align:left}
#faqbox .faqline .faqtit{  width:70px; display:block; float:left; clear:both; text-align:right}
#faqbox .Content{ line-height:2em; height:120px; text-align:left}
#faqbox .Content  .faqtit{  width:70px; display:block; float:left; clear:both; text-align:right}
#faqbox .Content textarea { height:100px;}

/* ablumlist.html */
.in-qq {width:100%;height:270px;border-top:6px solid #333;}
.in-qq dd{width:240px;height:190px;margin:12px 8px;float:left;display:inline}
.in-qq dd i{width:13px;height:13px;background:url(../images/a.gif) no-repeat -177px -40px;float:right;margin-top:-26px}
.in-qq dd a{color:#666;border-bottom:4px solid #E8E5DD;line-height:30px;display:block; text-align:center}
.in-qq dd a:hover{color:#000;border-bottom:4px solid #333;text-decoration:none}

/* 未知大小的图片在已知容器中的垂直居中和水平居中 */
.in-qq dd img{margin-top:expression(100-this.height/2);max-height:160px}/* max-height可限制图片的最大高度 */
.in-qq dd p{width:238px;height:158px;border:1px solid #ccc;overflow:hidden;text-align:center;vertical-align:middle;display:table-cell}
/* 未知大小的图片在已知容器中的垂直居中和水平居中 */

/* new.html */
#index_about{width:740px; float:left;background:url(../images/contentbg.png) repeat-y right #f5f5f5; padding-right:14px;}
#index_about ul { padding:0 30px 15px 30px; overflow:auto; zoom:1; background:url(../images/pro_bg.png) bottom no-repeat;}
#index_about ul p{ line-height:28px; font-size:14px; margin:10px 0}
.c_titile{ text-align:center; font-size:22px; margin:20px 0}
.box{ border:#ccc 1px dashed; text-align:center; padding:5px 0; margin:0 30px 10px 30px}
.weizhi{font-size: 12px;color: #333;border-bottom:4px solid #333; line-height:30px }
.weizhi a{  color:#333;}
.weizhi a:hover{  color: #F00;}


.canlist ul{  
overflow:hidden;  
padding:3em; list-style-type:none
} 
.canlist ul h2{  
font-size:10px;  
font-weight:normal; color:#666  
} 
.canlist ul li a{  
text-decoration:none;  
color:#000  ;  
background:#ffc  ;  
display:block; 
padding: 1em; /* Firefox */   
padding:5px; width:150px; height:150px ;
-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */  
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */  
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ;  
-webkit-transform:rotate(-6deg);  
-o-transform:rotate(-6deg);  
-moz-transform:rotate(-6deg); 
-moz-transition:-moz-transform .15s linear;  
-o-transition:-o-transform .15s linear;  
-webkit-transition:-webkit-transform .15s linear; 



}  
.canlist ul li{  
margin:1em;  
float:left; line-height:20px; 
}  

.canlist ul li:nth-child(even) a{  
-o-transform:rotate(4deg);  
-webkit-transform:rotate(4deg);  
-moz-transform:rotate(4deg);  
position:relative;  
top:5px;  
background:#cfc  ;  
}  
.canlist ul li:nth-child(3n) a{  
-o-transform:rotate(-3deg);  
-webkit-transform:rotate(-3deg);  
-moz-transform:rotate(-3deg);  
position:relative;  
top:-5px;  
background:#ccf  ; 
}  
.canlist ul li:nth-child(5n) a{  
-o-transform:rotate(5deg);  
-webkit-transform:rotate(5deg);  
-moz-transform:rotate(5deg);  
position:relative;  
top:-10px;  
}  


.canlist ul li a:hover,ul li a:focus{  
-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7)  ;  
-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7)  ;  
box-shadow:10px 10px 7px rgba(0,0,0,.7)  ;  
-webkit-transform: scale(1.25);  
-moz-transform: scale(1.25);  
-o-transform: scale(1.25);  
position:relative;  
z-index:5;  
}  


#tbox{width:47px; height:73px; float:right; position:fixed;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#jianyi{ width:47px; height:25px; background:url(../images/suggest.png) no-repeat; position:absolute; bottom:0px; cursor:pointer}
#gotop{ width:47px; height:47px; background:url(../images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} 
#jianyi:hover{ background:url(../images/suggest.png) no-repeat 0px -26px;}
#gotop:hover{ background:url(../images/top02.png) no-repeat;}
