A:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #0066cc; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 170%; TEXT-DECORATION: none
}
.unnamed1 {
	LINE-HEIGHT: 20px
}
BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #eaeaea; SCROLLBAR-ARROW-COLOR: #999999; SCROLLBAR-TRACK-COLOR: #eaeaea; SCROLLBAR-DARKSHADOW-COLOR: #eaeaea
}
